# Don't include third party files in the Github language stats!
ThirdParty/* linguist-vendored=true
FxA/* linguist-vendored=true
*.yml filter=lfs diff=lfs merge=lfs -text
/.githooks/pre-push filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.toml filter=lfs diff=lfs merge=lfs -text
*.xcworkspacedata filter=lfs diff=lfs merge=lfs -text
/.tx/config filter=lfs diff=lfs merge=lfs -text
/AUTHORS filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
*.xcscheme filter=lfs diff=lfs merge=lfs -text
*.resolved filter=lfs diff=lfs merge=lfs -text
*.swift filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
/Dangerfile filter=lfs diff=lfs merge=lfs -text
/Gemfile filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
/LICENSE filter=lfs diff=lfs merge=lfs -text
/PULL_REQUEST_TEMPLATE filter=lfs diff=lfs merge=lfs -text
*.xcprivacy filter=lfs diff=lfs merge=lfs -text
*.pbxproj filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.storyboard filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
/fastlane/Deliverfile filter=lfs diff=lfs merge=lfs -text
/fastlane/Fastfile filter=lfs diff=lfs merge=lfs -text
/fastlane/Matchfile filter=lfs diff=lfs merge=lfs -text
/fastlane/Pluginfile filter=lfs diff=lfs merge=lfs -text
/fastlane/Scanfile filter=lfs diff=lfs merge=lfs -text
*.rb filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.xcscmblueprint filter=lfs diff=lfs merge=lfs -text
*.xcsettings filter=lfs diff=lfs merge=lfs -text
*.m filter=lfs diff=lfs merge=lfs -text
*.xib filter=lfs diff=lfs merge=lfs -text
*.strings filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.mjs filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.xcconfig filter=lfs diff=lfs merge=lfs -text
*.entitlements filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
/firefox-ios/Ecosia/Core/adr/3_2024-11-01_Analytics-Events-Tests filter=lfs diff=lfs merge=lfs -text
*.stringsdict filter=lfs diff=lfs merge=lfs -text
*.xctestplan filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
/firefox-ios/ThirdParty/Deferred/LICENSE filter=lfs diff=lfs merge=lfs -text
/firefox-ios/ThirdParty/Result/LICENSE filter=lfs diff=lfs merge=lfs -text
/firefox-ios/ThirdParty/UIImageViewAligned/LICENSE filter=lfs diff=lfs merge=lfs -text
/firefox-ios/ThirdParty/ecec/LICENSE filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
/firefox-ios/ThirdParty/sentry-cli filter=lfs diff=lfs merge=lfs -text
*.intentdefinition filter=lfs diff=lfs merge=lfs -text
/firefox-ios/fastlane/Fastfile filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
/firefox-ios/firefox-ios-tests/Tests/Pipfile filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.pem filter=lfs diff=lfs merge=lfs -text
/firefox-ios/firefox-ios-tests/Tests/SyncIntegrationTests/Pipfile filter=lfs diff=lfs merge=lfs -text
*.sketch filter=lfs diff=lfs merge=lfs -text
/focus-ios/focus-ios-tests/tools/sentry-cli filter=lfs diff=lfs merge=lfs -text
/hooks/post-checkout filter=lfs diff=lfs merge=lfs -text
/hooks/prepare-commit-msg filter=lfs diff=lfs merge=lfs -text
/taskcluster/docker/alpine/Dockerfile filter=lfs diff=lfs merge=lfs -text
/taskcluster/docker/screenshots/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
/test-fixtures/ci/get-next-pr-version filter=lfs diff=lfs merge=lfs -text
*.archive filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
/.githooks/post-merge !text !filter !merge !diff
firefox-ios/EcosiaTests/SnapshotTests/**/*.png filter=lfs diff=lfs merge=lfs -text
