// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

#include "Common.xcconfig"
#include "Release.xcconfig"
#include "Production.xcconfig"
#include "Ecosia.xcconfig"

MOZ_BUNDLE_ID = com.ecosia.ecosiaapp.firefox.ShareTo
PROVISIONING_PROFILE_SPECIFIER = "match AdHoc com.ecosia.ecosiaapp.firefox.ShareTo";
